.main-layout {
  height: 100vh;
  animation-name: appear;
  animation-duration: 0.5s;
}

.main-layout-container {
  padding: 50px;
}

.site-layout-background {
  height: 100%;
}

.site-layout-background {
  padding: 24px 0;
  background-color: #fff;
}

/* .site-layout-background {
  width: 200px;
} */

.layout-menu {
  height: 100%;
}

.main-layout-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 24px;
  min-height: 280px;
}

.main-layout-messages {
  flex-grow: 1;
  margin-bottom: 24px;
  overflow-y: auto;
}

.main-layout-input {
  align-items: flex-end;
}
