.message {
  animation-name: appear;
  animation-duration: 0.3s;
}

/* .current-user-message {
  .ant-comment-inner {
    background: #e6f7ff;
  }
} */

.ant-comment-content {
  padding-right: 12px;
}
